/**ส่วนเนื่อหา**/
.show-box {
    padding: 20px;
}

/* profile  */

.grid-col {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10%;
    grid-row-gap: 20px;
}

.grid-row {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10%;
    grid-row-gap: 10px;
}

.grid-center {
    align-content: center;
}

.grid-start {
    align-content: start;
}

.grid-end {
    align-content: end;
}

/* Information in user_contract.php */
.ifm-text-col {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 4%;
    grid-row-gap:10px;
    align-items: center;
}

.ifm-text-row {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}

.ifm-text-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    max-width: 100%;
    padding: 20px;
    align-items: end;
}

.ifm-text-box textarea {
    width: 100%;
    padding-top: 2px;
}

/* Information in user_contract.php */

.d-flex {
    display: flex;
}

/* Bill */
.ifm-text-bill {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
}
.card-box {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, .08);
    box-shadow: 0 0 28px rgba(0, 0, 0, .08);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* top-left-bottom-r */
    margin: 15px 0px 10px 10px;
    width: 350px;
    transition: 0.3s;
}

.card-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.grid-bill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card-box {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, .08);
    box-shadow: 0 0 28px rgba(0, 0, 0, .08);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* top-left-bottom-r */
    margin: 15px 0px 10px 10px;
    width: 350px;
    transition: 0.3s;
}

.card-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.grid-bill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box-bill {
    /* background-color: #f1f1f1; */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 87vh;
    overflow-y: scroll;
}

.box-bill a.button{
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.status-red {
    background-color: red;
    color: white;
}

.status-green {
    background-color: green;
    color: white;
} 

.status-gray {
    background-color: gray;
    color: white;
}

.modal-bill-header {
    display: flex;
    justify-content: space-between;
}

.modal-bill-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    max-width: 100%;
    padding: 20px;
    align-items:center;
}

.img-bill-slip {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.img-bill-slip input {
    background-color: none;
    border: none;
    padding: 0;
    margin-top: 20px;
    width: 60%;
}

.btn.btn-download {
    border: 1px solid #c88820;
    background-color: #e2a747;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-download:hover {
    border: 1px solid #c88820;
    background-color: #c88820;
}

.btn-download::before {
    font-family: "FontAwesome";
    content: "\f56d";
    font-size: 20px;
    padding-right: 5px;
}

.text-white {
    color: white;
}
/* Bill */

/* Information in request_to_move.php */
.rtm-text-col {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 4%;
    grid-row-gap:10px;
    align-items: center;
}

.rtm-text-row {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}

.rtm-box {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2%;
    max-width: 100%;
    padding: 20px;
    align-content: stretch;
}

.rtm-text-box {
    display: flex;
    flex-direction: column;
}

.rtm-text-box textarea {
    width: 100%;
    padding-top: 2px;
}

.rtm-input-box {
    display: grid;
    grid-template-columns: auto 20%;
    grid-column-gap: 2%;
    max-width: 100%;
    padding: 20px;
    align-content: stretch;
}

.rtm-input-row {
    display: grid;
    grid-template-columns: 10% auto auto 25% ;
    grid-row-gap: 10px;
    grid-column-gap: 2%;
}

.rtm-input-row .btn-save {
    display: flex;
    justify-content: flex-end;
}

.show-box .btn-out .btn{
    background-color: red;
}

.rtm-input-box form {
    padding: 0;
}

.rtm-move-box {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 2%;
    max-width: 100%;
    padding: 20px;
    align-content: stretch;
}

.rtm-text {
    color: #000000;
    font-size: 22px;
    text-align: center;
    background-color: #f5dd91;
}

.rtm-text-move {
    display: grid;
    grid-template-columns: 10% 50% auto;
}
.rtm-input-move {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}
.rtm-btn-move {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.bg-move {
    background-color: #ffaa43;
    color: #ffffff;
}

.bg-alert {
    background-color: #ff4343;
    color: #ffffff;
}

.bg-alert a {
    color: #ffffff;
}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Information in request_to_move.php */

.col-20 {
    grid-template-columns: 20% auto;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-right {
    display: flex;
    justify-content: right;
}

.p-0 {
    padding: 0px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.my-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-0 {
    margin: 0px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    border-radius: 20px;
    border: 1px solid #1f334b;
    background-color: rgb(77, 106, 150);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 10px;
    width: 80px;
    height: 80px;
}

input, textarea {
    padding-left: 10px;
}

.status-bill {
    /* padding: 10px; */
    background-color: red;
    color: white;
}

.w-50 {
    width: 50%;
}

.bg-white {
    background-color: white;
}

form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

.modal-content form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    align-items: stretch;
}

.modal-content .form-label {
    font-size: 14px;
}

.modal-content textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 125px;
}

.modal-content table textarea {
    height: 50px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

form.none {
    background-color: #eee;
    display: contents;
}

.form-search {
    display: block;
}

.form-label {
    display: block;
    text-align: left;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
}

/**ส่วนเนื่อหา**/
