
.menu {
    background-color: #24344b;
  }
/**กำหนดรายละเอียดส่วนหัว**/
.header {
    margin: 2rem 0;
    line-height: 30px;
    text-align: center;
}

/**กำหนดรายละเอียด logo ส่วนหัว**/

#logo {
    font-size: 5rem;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/**กำหนดรายละเอียดส่วนชื่อ**/

.header .header-name h2 {
    color: #FFFFFF;
    font-weight: 500px;
    font-size: 20px;
}


/**กำหนดกรอบอักษร (แถบเมนู)**/

nav ul {
    background-color: #2B3C58;
    width: 100%;
    list-style: none;
}


/**กำหนดความห่าง (แถบเมนู)**/

nav ul li {
    line-height: 50px;
}


/**กำหนดรายละอักษร (แถบเมนู)**/

nav ul li a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    transition: .6s ease;
}


/**กำหนดรายละแถบเมนูเวลาชี้เมาส์ (แถบเมนู)**/

nav ul li:hover a {
    color: #2B3C58;
    background-color: #FFFFFF;
    font-size: 17px;
}


/**กำหนดรายละแถบเมนูเวลาคลิกเมาส์ (แถบเมนู)**/

nav ul li.active a {
    color: #FFFFFF;
    background-color: #11101D;
    border-left-color: #FFFFFF;
}


/**คำสั่งซ่อนเมนู เพิ่มสัญญาลูกค้า/แก้ไขข้อมูลลูกค้า**/

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul .serv-show.show {
    display: block;
}


/**กำหนดรายละแถบเมนู serv-show (แถบเมนูในสามเหลี่ยม)**/

nav ul ul li a {
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 60px;
}


/**กำหนดรายละแถบเมนูเวลาชี้เมาส์ (แถบเมนูในสามเหลี่ยม)**/

nav ul li.active ul li a {
    color: #FFFFFF;
    background-color: #336699;
    border-left-color: #FFFFFF;
}


/**กำหนดรายละแถบเมนูเวลาชี้เมาส์ (แถบเมนูในสามเหลี่ยม)**/

nav ul li ul li a :hover {
    color: #2B3C58;
    background-color: #FFFFFF;
}


/**กำหนดรายละแถบเมนูเวลาคลิกเมาส์ (แถบเมนูในสามเหลี่ยม)**/

nav ul li ul li.active a {
    color: #FFFFFF;
    background-color: #11101D;
}


/**กำหนดรายละปุ่มสามเหลี่ยม**/

nav ul li a span.second {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform .4s;
}

nav ul li a span.second.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

nav ul li a.admin_home::before {
    content: "หน้าแรก - Home";
}

nav ul li a.admin_room::before {
    content: "จัดการห้องพัก";
}

nav ul li a.admin_contract::before {
    content: "เพิ่มสัญญาลูกค้า";
}

nav ul li a.admin_customer::before {
    content: "จัดการลูกค้า";
}

nav ul li a.admin_create_bill::before {
    content: "จดมิเตอร์";
}

nav ul li a.admin_update_bill::before {
    content: "ระบบรับชำระ";
}

nav ul li a.admin_bill::before {
    content: "รายงานการชำระ";
}

nav ul li a.admin_messages::before {
    content: "Admin messages";
}

nav ul li a.approved_to_move::before {
    content: "คำขอย้ายห้อง/ย้ายออก";
}

nav ul li a.serv-btn::before {
    content: "จัดการลูกค้า";
}

/* กำหนดปุ่ม ออกจากระบบ */
.out {
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    bottom: 30px;
    position: fixed;
    margin-left: 3%;
}

div.out a::before {
    padding: 20px;
    content: "ออกจากระบบ ";
}

div.out a:hover {
    color: #316fc5;
}

@media screen and (max-width: 1228px) {

    nav ul li a.admin_home::before {
        font-family: "FontAwesome";
        content: "\f015";
    }

    nav ul li a.admin_room::before {
        font-family: "FontAwesome";
        content: "\f236";

    }

    nav ul li a.admin_contract::before {
        font-family: "FontAwesome";
        content: "\f56c";
    }

    nav ul li a.admin_customer::before {
        font-family: "FontAwesome";
        content: "\f573";
    }

    nav ul li a.admin_create_bill::before {
        font-family: "FontAwesome";
        content: "\f14b";
    }

    nav ul li a.admin_update_bill::before {
        font-family: "FontAwesome";
        content: "\f4c0";
    }

    nav ul li a.admin_bill::before {
        font-family: "FontAwesome";
        content: "\f571";
    }

    nav ul li a.admin_messages::before {
        font-family: "FontAwesome";
        content: "\f01c";
    }

    nav ul li a.approved_to_move::before {
        font-family: "FontAwesome";
        content: "\f5c1";
    }

    nav ul li a.serv-btn::before {
        font-family: "FontAwesome";
        content: "\f4fe";
    }

    nav ul li a,
    nav ul ul li a {
        padding-left: 25px;
        font-size: 15px;
    }

    nav ul li span.fa-caret-down:before {
        display: none;
    }

    div.out a::before {
        padding: 0px;
        content: "";
    }

    div.out {
        margin: 20px;
        content: "";
    }

    #logo {
        font-size: 2rem;
    }
}