
/**ส่วนเมนู**/
/**กำหนดรายละเอียดแถบเมนูบาร์ใหญ่ ใช้จริง**/
.menubar {
    background-color: #003333;
}

/**กำหนดรายละเอียดส่วนหัว (โปรไฟล์)  ใช้จริง**/
.header {
	margin: 2rem 0;
    line-height: 33px;
    text-align: center;
}

/**กำหนดรายละเอียด logo ส่วนหัว (โปรไฟล์)  ใช้จริง**/
#logo{
	font-size: 5rem;
	color: #FFFFFF;
	margin-bottom: 20px;
}

/**กำหนดรายละเอียดรูปภาพ (โปรไฟล์)  ใช้จริง**/
/**.header .header-img img{
    border-radius: 25%;
} **/

/**กำหนดรายละเอียดส่วนชื่อ  ใช้จริง**/
.header .header-name h2 {
    color: #FFFFFF;
    font-weight: 500px;
	font-size: 20px;
}

/**กำหนดรายละเอียดส่วนตำแหน่ง ใช้จริง**/
.header .header-name h3 {
    color: #F5F5F5;
    font-weight: 10px;
	font-size: 18px;
}

/**กำหนดรายละเอียดส่วนตำแหน่ง ใช้จริง**/
.header .header-name h5 {
    color: #778899;
	font-size: 15px;
}

/**กำหนดกรอบอักษร (แถบเมนู) ใช้จริง**/
nav ul {
    background-color: #5F9EA0;
    width: 100%;
    list-style: none;
}

/**กำหนดความห่าง (แถบเมนู) ใช้จริง**/
nav ul li {
    line-height: 50px;
}

/**กำหนดรายละอักษร (แถบเมนู) ใช้จริง**/
nav ul li a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
	transition: .6s ease;	
}

/**กำหนดรายละแถบเมนูเวลาชี้เมาส์ (แถบเมนู) ใช้จริง**/
nav ul li:hover a{
    color: #778899;
	background-color: #FFFFFF;
	font-size: 17px;
}

/**กำหนดรายละแถบเมนูเวลาคลิกเมาส์ (แถบเมนู) ใช้จริง**/
nav ul li.active a {
    color: #FFFFFF;
    background-color: #2F4F4F;
    border-left-color: #FFFFFF;
}


nav ul li a.user_profile::before {
    content: "ข้อมูลส่วนตัว";
}

nav ul li a.user_contract::before {
    content: "สัญญาเช่า";
}

nav ul li a.user_bill::before {
    content: "ชำระค่าเช่า";
}

nav ul li a.user_messages::before {
    content: "Messages";
}

nav ul li a.user_to_move::before {
    content: "แจ้งขอย้าย";
}

/**กำหนดรายละเอียดแถบบาร์เล็ก ใช้จริง**/
.out {
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    bottom: 30px;
    position: fixed;
    margin-left: 3%;
}

div.out a::before {
    padding: 20px;
    content: "ออกจากระบบ ";
}

div.out a:hover {
    color: #003333;
}
.menu {
    padding: 20px;
    float: left;
    width: 20%;
    background-color: #003333;
    border-radius: 4px;
    height: 100vh;
}

/**ส่วนเมนู**/